

body{
     background: url("https://motherdawe.files.wordpress.com/2015/01/spiritual-awakening.jpg")
    }
    .jumbotron{
      background-color:black;
      color: red;
      font-size:50px;
      font-weight: bolder;
     
      
   }
   #game{
    background-color:green;
    text-align: center;
    padding: 5px;
    font-size: 30px;
   }
   #scoreboard{
    color:black;
    text-align: center;
    position: relative;
    font-size: 35px;
    padding:50px;
   }
   #new{
    background-color:#32ffff;
    color:blue;
    width:200px;
    font-size: 30px;
    text-align:center;
    box-sizing: 20px;  
   }